body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}+

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.card {
  display: inline-block;
  width: 18rem;
  border-radius: 10px;
  border-width: 2px;
  vertical-align: top;
}

.card-img-top {
  overflow: hidden;
  padding-top: 2rem;
  position: center;
}

.btn {
  border-radius: 2rem;
}

.form-control {
  border-radius: 1rem;
}

.card:hover {
  background-color: #ffeeba;
}

textarea {
  max-height: 6rem;
  resize: none;
}

.h2 {
  background-color: #ba8b00;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  border-radius: 1rem;
  text-align: center;
  margin-top: 10px;
}

.nav-item {
  color: #ba8b00;
  padding-left: 5px;
  width: 100px;
}

.nav-item:hover {
  background-color: #4e555b;
}

.messages {
  font-size: 16pt;
  background-color: #721c24;
  color: #ffeeba;
}

.price {
  font-size: 12pt;
  color: #0b2e13;
  padding-left: 10px;
  padding-top: 10px;
}

.total-card {
  position: fixed;
  right: 30px;
  bottom: 100px;
  background-color: #f5c6cb;
}
